*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.hero__section{
    background-image: url(./images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 15px 40px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar__menu__container{
    display: flex;
    gap: 20px;
}
.navbar__menu__container .user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}
.hero__section_container h1{
    color: white;
}
.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh,60px);
}
/* Dont use Both width and Height at same time because it has some ratio properties */
.hero__section_logo{
    width: 200px;
    height: auto;
}
.hero__section_title{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}
.input_container_location , .input_container_search{
    padding: 6px;
    border: none;
    /* border-radius: 15px; */
    width: 96%;
    /* outline: none; */
}
.input_container_location{
    width: 35%;
    border-right: 2px solid gray;
}
.input_container_search{
    width: 65%;
}














@media only screen and (max-width:500px) {
    .navbar__menu__container .user__icon{
        display: flex;

    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .navbar{
        padding: 16px;
    }
    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location , .input_container_search{
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }
    .hero__section_container{
        height: calc(80vh - 60px);
    }
    .hero__section_title{
        font-size: 20px;
        width: 95%;
    }
}

